<p id="notice"><%= notice %></p>

<h1>Contatos</h1>

<%= form_tag contatos_path, :method => 'get' do %>
<p>
    <label>Nome</label>
    <%= select_tag :f_tipo_nome,
        options_for_select(["Igual a", "Contém", "Começa com", "Termina com"]),
        :include_blank => false %>
    <%= text_field_tag :f_nome, params[:f_nome] %>
    <%= select_tag :f_clause_nome,
        options_for_select([["e", " and "], ["ou", " or "]]),
        :include_blank => false %>
<br>
    <label>E-mail</label>
    <%= select_tag :f_tipo_email,
        options_for_select(["Igual a", "Contém", "Começa com", "Termina com"]),
        :include_blank => false %>
    <%= text_field_tag :f_email, params[:f_email] %>
    <%= select_tag :f_clause_email,
        options_for_select([["e", " and "], ["ou", " or "]]),
        :include_blank => false %>
<br>
    <label>Idade</label>
    <%= select_tag :f_tipo_idade,
        options_for_select(["=", "<", "<=", ">", ">="]),
        :include_blank => false %>
    <%= text_field_tag :f_idade, params[:f_idade] %>
    <%= select_tag :f_clause_idade,
        options_for_select([["e", " and "], ["ou", " or "]]),
        :include_blank => false %>
<br>
    <label>Cargo</label>
    <%= select_tag :f_tipo_cargo,
        options_for_select(["Igual a", "Contém", "Começa com", "Termina com"]),
        :include_blank => false %>
    <%= text_field_tag :f_cargo, params[:f_cargo] %>
    <%= select_tag :f_clause_cargo,
        options_for_select([["e", " and "], ["ou", " or "]]),
        :include_blank => false %>
<br>
    <label>Estado</label>
    <%= select_tag :f_estado,
        options_from_collection_for_select(Estado.all, 'id', 'nome'),
        :prompt => "Selecione o Estado" %>
    <%= submit_tag "Segmentar", :name => nil %>
</p>
<% end %>

<div class="historico-segmentacao">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th></th>
                <th></th>
                <th>E-mail</th>
                <th></th>
                <th></th>
                <th>Idade</th>
                <th></th>
                <th></th>
                <th>Cargo</th>
                <th></th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <% @historico_segmentacao.each do |historico| %>
                <tr class="item-segmentacao" data-id="<%=historico.id%>">
                    <td>
                        <%= historico.tipo_nome %>
                    </td>
                    <td>
                        <%= historico.nome %>
                    </td>
                    <td>
                        <%= historico.clause_nome %>
                    </td>
                    <td>
                        <%= historico.tipo_email %>
                    </td>
                    <td>
                        <%= historico.email %>
                    </td>
                    <td>
                        <%= historico.clause_email %>
                    </td>
                    <td>
                        <%= historico.tipo_idade %>
                    </td>
                    <td>
                        <%= historico.idade %>
                    </td>
                    <td>
                        <%= historico.tipo_cargo %>
                    </td>
                    <td>
                        <%= historico.cargo %>
                    </td>
                    <td>
                        <%= historico.clause_cargo %>
                    </td>
                    <td>
                        <% if historico.estado_id.present? %>
                            <%= historico.estado %>
                        <% else %>
                            -
                        <% end %>
                    </td>
                </tr>
            <% end %>

        </tbody>
    </table>

</div>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Estado</th>
            <th>Cargo</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% if @contatos.present? %>
            <% @contatos.each do |contato| %>
                <tr>
                    <td><%= contato.nome %></td>
                    <td><%= contato.email %></td>
                    <td><%= contato.idade %></td>
                    <td><%= contato.estado.sigla %></td>
                    <td><%= contato.cargo %></td>
                    <td><%= link_to 'Show', contato %></td>
                    <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
                    <td><%= link_to 'Destroy', contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
                <td>Nenhum resultado encontrado.</td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Contato', new_contato_path %>
